body {
  background: url(bak.jpg);
   background-repeat: no-repeat;
    background-position: 0px 0px;
    background-attachment: fixed;
    background-color: #fff;
    -webkit-background-size: calc(100vw) calc(100vh);
    -moz-background-size: calc(100vw) calc(100vh);
    -o-background-size: calc(100vw) calc(100vh);
    background-size: calc(100vw) calc(100vh);
  margin-left: 45%;
  margin-right: 45%;
  margin-top: 30%;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #F8F7F7;
}

@media all and (max-width: 1200px){

body{
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 45%;

    }
}
@media all and (max-width: 900px){

body{
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 50%;

    }
}
@media all and (max-width: 480px){

body{
   margin-left: 20%;
  margin-right: 20%;
  margin-top: 75%;

    }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
